<div>Hello World!</div>

url : {{url "/questions"}}

before : {{springMacroRequestContext.contextPath}}
{{#springMacroRequestContext}}
	request context : {{contextPath}}
{{/springMacroRequestContext}}

{{mylog this "user"}}

This is errors before :
{{#errors}}
	{{this}}
{{/errors}}

This is errors end :
